[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
coverage = "*"
stestr = "*"
ipdb = "*"

[packages]
ops = {git = "https://github.com/canonical/operator/"}
kubernetes = "*"
oci-image = {git = "https://github.com/juju-solutions/resource-oci-image/"}

[requires]
python_version = "3.8"
